<div class="cards">
    <div class="card" *ngFor="let pokemon of pokemons">
        <a routerLink="details/{{pokemon.id}}">
            <div class="body">
                <div class="img-block">
                    <img class="img" [src]="pokemon.sprites?.other.dream_world.front_default" alt="">
                </div>
            </div>

            <div class="types-block">
                <ul class="types" *ngFor="let types of pokemon.types">
                    <li class="name-type">{{ types.type.name }}</li>
                </ul>
            </div>
        </a>
    </div>
</div>