<app-navbar></app-navbar>

<section class="container-fluid">
    <ng-template [ngIf]="pokemon!=undefined">
        <section class="details-area">
            <section class="header">
                <div class="id-area">
                    <h1>{{ pokemon[0].id }}</h1>
                </div>

                <div class="types">

                </div>
            </section>

            <div class="first-container">
                <div class="area-first-container">
                    <div class="area-first-container-left">
                        <div class="image">
                            <img class="img" [src]="pokemon[0]?.sprites?.other.dream_world.front_default" alt="">
                        </div>
                    </div>

                    <div class="area-first-container-right">
                        <div class="area-name">
                            <h2 class="name"> {{ pokemon[0].name | titlecase }} </h2>
                        </div>
                        <div class="area-stats">
                            <div class="name-types">
                                <ul *ngFor="let stat of pokemon[0].stats">
                                    <li class="name-type">{{ stat.stat.name | titlecase }}</li>
                                </ul>
                            </div>

                            <div class="area-progress">
                                <ul *ngFor="let stat of pokemon[0].stats">
                                    <li class="value-progress">
                                        <div class="progress" style="height: 9px;">
                                            <div class="progress-bar" role="progressbar"
                                                [style.width]="stat.base_stat + '%'" aria-valuenow="50"
                                                aria-valuemin="0" aria-valuemax="100">
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- <hr class="my-4">

            <div class="second-container">
                <div class="area-second-container">
                        <p class="profile text-center">Perfil</p>
                </div>
            </div> -->


        </section>

    </ng-template>
</section>