<div class="navbar">
    <div class="img-name">
        <img class="name" src="assets/img/pokeName/Pokedex.png" alt="">
    </div>

    <form class="form mt-4">
        <div class="input-group">
            <span class="input-group-text" id="inputGroup-sizing-sm">Buscar</span>
            <input #input (keyup)="search(input.value)" type="search" class="form-control"
                aria-describedby="inputGroup-sizing-sm" placeholder="Digite o nome do seu Pokemon">
        </div>
    </form>
</div>